<ion-menu [content]="content">
  <ion-header>
    <ion-item>
      <ion-avatar>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list no-lines>
      <button ion-item (click)="openPushPage('notification')">
        {{'menu.notification' | translate}}(push)
      </button>
      <button ion-item (click)="openPushPage('membership')">
        {{'menu.membership' | translate}}(push)
      </button>
      <button ion-item (click)="openModalPage('wallet')">
        {{'menu.wallet' | translate}}(modal)
      </button>
      <button ion-item (click)="openModalPage('favorite')">
        {{'menu.favorite' | translate}}(modal)
      </button>
      <button ion-item (click)="openRootPage('setting')">
        {{'menu.setting' | translate}}(root)
      </button>
      <button ion-item detail-none (click)="showLanguageSelect()">
        {{'menu.language' | translate}}
      </button>
    </ion-list>
    <ion-footer>
      <ion-row>
        <ion-col col-6>
          <button ion-button full clear (click)="selectSkin()">
            {{'menu.skin' | translate}}
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full clear (click)="logout()">
            {{'menu.logout' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-content>
</ion-menu>
<ion-tabs #content selectedIndex="1">
  <ion-tab [root]="tab1" [tabTitle]="'tabs.about' | translate" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab2" [tabTitle]="'tabs.home' | translate" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3" [tabTitle]="'tabs.contact' | translate" tabIcon="contacts"></ion-tab>
</ion-tabs>
