<ion-content padding>


    <form name="mainForm" #mainForm="ngForm">
        <ion-list margin>
            <ion-item>
                <ion-label color="primary" floating>
                  {{ 'global.account' | translate }}:
                </ion-label>
                <ion-input color="light" [(ngModel)]="account" required #accountHandler="ngModel" type="text" name="account">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" floating>
                  {{ 'global.password' | translate }}:
                </ion-label>
                  <ion-input color="light" [(ngModel)]="pwd" required #pwdHandler="ngModel" type="password" name="pwd">
                </ion-input>
            </ion-item>

        </ion-list>

      <button ion-button block round (click)="login(account, pwd)">{{ 'button.submit' | translate }}</button>



    </form>

</ion-content>
